# -*- mode: ruby -*-
# vi: set ft=ruby :
require 'yaml'

Vagrant::Config.run do |config|
 
  # Read in the boxfile
  # For now it's just a hash
  boxes = YAML.load_file( 'boxConfig.yaml' )
  
  boxes.each_key do |key|

    config.vm.define key.to_sym do |key_config|
   
      key_config.vm.box = key

      # Enable provisioning with chef solo, specifying a cookbooks path, roles
      # path, and data_bags path (all relative to this Vagrantfile), and adding 
      # some recipes and/or roles. Will need to case this with value of boxes[key]
      # eventually, for now assume build. 
      # Stupid sl6 box doesn't have scp installed, check for it and install to allow 
      # chef-solo to run, old version of ohai as well. 
      key_config.vm.provision :shell , :inline => 'if [ ! -x /usr/bin/scp] ; then if [-x /usr/bin/yum ] then yum install openssh-clients ; fi ; fi'
      key_config.vm.provision :shell , :path => "scripts/ohai_test.sh"
      key_config.vm.provision :chef_solo do |chef|
        chef.cookbooks_path = "./chef/cookbooks"
        # chef.roles_path = "./chef/roles"
        # chef.data_bags_path = "./chef/data_bags"
        chef.add_recipe "openafs_build"
        # chef.add_role boxes[key]
        #
        #   # You may also specify custom JSON attributes:
        #   chef.json = { :mysql_password => "foo" }
      end
      # Eventually this should be chef roles perhaps, but 
      # Keep it visibile in the top level for now. 
      # Building from the /vagrant filesystem runs into performance/timing problems.
      # The symptom is files that should be r/w return "read-only" filesystem errors.
      # Annoying all this runs as root, chown -R or ?? 
      key_config.vm.provision  :shell, :inline => "if [ ! -d openafs ] ; then  git clone /vagrant/openafs ; fi"
      key_config.vm.provision  :shell, :inline => "cd openafs; ./regen.sh"
      # Run configure command, this will need per OS tweaking. 
      key_config.vm.provision  :shell, :inline => "cd openafs; ./configure  --enable-namei-fileserver --enable-transarc-paths --enable-supergroups "
      key_config.vm.provision  :shell, :inline => "chown -r vagrant openafs"
  end
  # Build OpenAFS 
  end

 
end
